*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}
ul, li{list-style-type: none;}
a{color: #333; text-decoration: none;}
img{width: 100%; display: block;}

/*헤더영역*/
header{
    width: 100%;
    height: 100px;
    position: fixed;
    top:0px;
    left: 0px;
    z-index: 10;
    transition: all 0.3s ease-in-out;
}
.hidden{transform: translatey(-100%);}
.headerbg{
    background: #fff;
    border-bottom: 1px solid #ddd;
    z-index: 1;
}
.headerbg .colorhd{opacity: 1;}
.headerbg>nav>ul>li>a{color: #333;}
.headerbg>nav>.nav_remain{color: #333;}
.headerbg>nav>.nav_remain>span>a{color:#333;}
nav{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
}
.nav_logo{
    width: 120px;
    position: relative;
    cursor:pointer;
}
.colorhd{
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
}
.nav_menu{
    width: 65%;
    display: flex;
    justify-content: space-between;
}
.nav_menu>ul{height:100%;}
.nav_menu>li{
    position:relative;
}
.nav_menu>li>a{
    padding: 25px 17px 38px 17px;
    color: #fff;
    font-weight: 400;
}
.menu_inner_bg{
    width:100%;
    background: #fff;
    height: 240px;
    box-shadow: 0px 2px 3px 0px #ccc;
    display: none;
    transition: all 0.2s ease-in;
    border-top: 1px solid #ddd;
}
.menu_inner{
    width:100%;
    position:absolute;
    top:80px;
    left:0px;
    text-align:center;
    font-size: 1rem;
    display: none;
    transition: all 0.1s ease-in;

}
.menu_open{display: block;}
.menu_inner>li{margin-bottom:7px;}
.nav_remain{
    width: 14%;
    display: flex;
    color: #fff;
    justify-content: space-between;
}
.nav_remain a{color: #fff;}
.nav_remain>span:nth-child(2){user-select: none;}
.nav_remain>span:nth-child(3){cursor:pointer;}
.fullmenu{
    width:20px;
    height:20px;
    background: url(../img/index/header_menu_white.png) no-repeat center center / cover;
    margin-top: 2px;
    cursor: pointer;
    position: relative;
}
.site_map{
    width: 100%;
    height: 100vh;
    position:fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    background: rgba(0,0,0,0.9);
    display: none;
}
.site_map_title{
    color: white;
    padding: 50px 0px 30px 0px;
    display: flex;
    justify-content: flex-end;
}
.site_map_title>h1{
    font-size: 2rem;
    font-weight: 400;
}
.site_map_close{
    width: 35px;
    height: 35px;
    margin: 8px 60px 0 0;
}
.site_map_menu{
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
}
.site_map_menu>li{position: relative;}
.site_map_menu>li:before{
    content:"";
    position: absolute;
    top:0px;
    left: -24px;
    width: 1px;
    height: 100%;
    background: #333;
}

.site_map_menu a{color: #fff;}
.site_map_menu>li>ul>li{
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 10px;
    text-indent: 6px;
}
.site_map_deep{
    color: #ddd;
    font-size: 1rem;
}
.site_map_deep>li:before{
    content:" · "
}
.mobile_menu{display: none;}
/*메인표지*/
.main_page{
    width: 100%;
    height: 100vh;
    background: url(../img/index/video_bg.jpg) no-repeat center center / cover;
    background-attachment: fixed;
    overflow: hidden;
    position:relative;
}
video#backvideo{
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position:absolute;
    top: 0px;
    left: 0px;
}
.main_txt{
    width:80%;
    color: white;
    position: absolute;
    left: 10%;
    bottom: 10%;
}
.main_txt>h1{font-size: 4rem; font-weight: 600;}
.main_txt>p{font-size: 2rem; font-weight: 400;}
/*사업영역*/
.business_wrap{
    width: 1200px;
    margin: 0 auto;
    padding: 80px 0 50px 0;
}
.index_title{
    text-align: center;
    margin-bottom: 24px;
}
.index_title>h2{
    font-size: 2rem;
    color: #333;
    font-weight:600;
}
.index_title>p{
    color:#555;
    font-size: 1.3rem;
    font-weight: 300;
}
.business{
    display: flex;
    justify-content: space-between;
}
.business_ob{
    width:24.5%;
    float: left;
    height: 550px;
    position: relative;
    user-select: none;
    cursor: pointer;
    transition: all 0.2s linear;
}
.business_ob>img{
    height: 550px;
}
.business_ob:hover{
    transform: scale(1.03);
}
.business_txt{
    position: absolute;
    width: 100%;
    top:50px;
    text-align: center;
    color: white;
    
}
.business_txt>h2{
    position: relative;
    margin-bottom: 26px;
}
.business_txt>h2:after{
    content:"";
    width: 26px;
    height: 4px;
    background: #fff;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

/*주요프로젝트*/
.project_wrap{
    padding: 50px 0 100px 0;
}
#imageGallery>li{position: relative;}
.pj{
    position: relative;
    margin: 0 auto;
    display: flex;
    overflow: visible;
    height: auto !important;
}
.project_caption{
    position:absolute;
    bottom:5px;
    left:0px;
    width:100%;
    height:40px;
    background:rgba(0,0,0,0.6);
    color: white;
    padding: 5px 20px;
    font-size: 1.2rem;
    font-weight: 300;
    user-select: none;
}
.project_title{
    float: left;
}
.project_num{
    float: right;
}
.mobile_project{display: none;}
/*회사정보*/
.about_wrap{
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0 100px 0;
}
.about_wrap>.index_title{
    margin-bottom: 12px;
    position: relative;
}
.news{
    margin-bottom: 12px;
}
.news_title{
    position:absolute;
    bottom:0px;
    right:0px;
    user-select: none;
    cursor:pointer;
}
.news_title>span{font-weight: 300;}
.news_plus{
    width: 25px;
    height: 25px;
    float: right;
    background: #0083bf;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 23px;
    line-height: 20px;
    margin-left: 10px;
}
.news_article{
    clear: both;
    display: flex;
    justify-content: space-between;
}
.article_line{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin-bottom: 12px;
    width: 32.4%;
    padding: 12px;
    box-shadow: 0 0 3px #aaa;
    min-height: 360px;
    cursor:pointer;
}
.article_line:hover {
}
.article_img{
    margin-bottom: 6px;
    overflow: hidden;
}
.article_img>img{
    height: 218px;
    border:1px solid #ccc;
}
.article_txt{padding: 6px;}
.article_txt>span:first-child{
    color: #0083bf;
    font-size: 1rem;
    float: left;
    font-weight:600;
}
.article_txt>span:nth-child(2){
    font-size:1rem;
    color: #888;
    float:right;
}
.article_txt>h3{
    padding: 10px 0;
    clear: both;
    font-size: 1.4rem;
    color: #333;
    font-weight: 300;
}
/*삭제
.about_company{
    display: flex;
    justify-content: space-between;
    color: white;
}
.invest{
    width:49.8%;
    height: 250px;
    background: url(../img/index/invest2.jpg) no-repeat center center / cover;
}
.inre_txt{
    width: 100%;
    height: 100%;
    padding: 50px;
    cursor:pointer;
    user-select: none;
}
.inre_txt>h2{
    font-size:2.7rem;
    margin-bottom: 6px;
}
.inre_txt>span{
    position:relative;
    font-weight: bold;
}
.inre_txt>span:after{
    content:"";
    bottom: -20px;
    left: 0px;
    width: 50px;
    height: 2px;
    background: #fff;
    position:absolute;
}
.inre_txt>p{
    padding-top: 36px;
}
.recruit{
    width:49.8%;
    height: 250px;
    background: url(../img/index/recruit3.jpg) no-repeat center center / cover;
}
*/
/*경영영역*/
.mana_wrap{
    padding: 50px 0;
    background: url(../img/index/esg_bg2.jpg) no-repeat center center / cover;
}
.mana_wrap>.index_title{
    margin: 0 auto;
    margin-bottom: 36px;
}
.mana_wrap>.index_title>h2{
    background: #001546;
    color: #fff;
    padding: 4px 6px 8px 6px;
    width: 100%;
    max-width:400px;
    margin: 0 auto;
    margin-bottom: 12px;
    font-weight: 400;
}
.mana_wrap>.index_title>p{
    font-size: 1.2rem;
    font-weight: 400;
}
.mana_wrap>.index_title>p>br{display: none;}
.mana{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}
.mana_icon{
    width: 250px;
    height: 250px;
    border-radius: 1000px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    cursor: pointer;
}
.overlay{display: none; width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; background: rgba(0,0,0,0.4);}
.ir{background:url(../img/index/ir.jpg) no-repeat center center / cover;}
.ss{background:url(../img/index/env.jpg) no-repeat center center / cover;}
.re{background:url(../img/index/re.jpg) no-repeat center center / cover;}
.mana_icon>span{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    padding-bottom: 46px;
    
}
/*푸터영역*/
footer{
    width:100%;
    background: #555;
    color: white;
    border-top: 3px solid #eee;
}
.footer_up{border-bottom:1px solid #777;}
.footer_up>ul{
    width: 1200px;
    padding: 8px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer_up>ul>li>a{color:#fff;}
.footer_up>ul>li:nth-child(2n){color:#777;}
.footer_wrap{
    width:1200px;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_logo{
    width: 10%; 
    padding-top: 8px;
    cursor: pointer;
}
.footer_channel{
    width:15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_channel>img{
    width: 45px;
    cursor: pointer;
}




/*반응형*/

/*1024~1279*/
@media only screen and (max-width:1279px){
    nav{width: 100%; padding: 0 20px;}
    .nav_menu{width: 70%;}
    .nav_menu>li>a{padding: 25px 13px;}
    .nav_remain{width: 16%;}
    .site_map_menu>li:before{left: -10px;}
    .business_wrap{width: 100%; padding: 80px 20px 50px 20px;}
    .business_ob{height: auto;}
    .business_ob>img{height: auto;}
    .project_wrap{width: 100%; padding: 50px 20px 100px 20px;}
    .about_wrap{width: 100%; padding: 50px 20px 100px 20px;}
    .article_img>img{height: auto;}
    .article_txt>h3{font-size: 1.3rem;}
    .article_line{min-height: auto;}
    .mana_wrap>.index_title>p>br{display: block;}
    .mana{width: 100%;}
    .mana_icon{width: 220px; height: 220px;}
    .footer_up>ul{width: 100%; padding: 8px 20px;}
    .footer_wrap{width: 100%; padding: 20px 20px;}
}

/*768~1023*/
@media only screen and (max-width:1023px){
    header{height: 60px;}
    nav{padding:7px 20px 0 20px;}
    .nav_menu{display: none;}
    .nav_remain{display: none;}
    /*mobile menu*/
    .mobile_menu{display: block; width: 30px; height: 30px; user-select: none;}
    .m_menu_open{float:right; position:relative; width: 27px; height: 27px;
        background: url(../img/index/header_menu_white.png) no-repeat center center / cover; cursor: pointer;}
    .m_menu{position:absolute; top:60px; right: 0px; width: 100%; height:100vh; background: rgba(0,0,0,0.8); display: none;}
    .bgbye{display: block; overflow: hidden;}
    .m_menu_bar{width: 80%; height: 100vh; background: #0c2340; position: absolute; top: 60px; right: -3000px; transition: all 0.5s;}
    .m_menu_bar.open{right: 0px; overflow-y: auto;}
    .open::-webkit-scrollbar{width: 5px;}
    .open::-webkit-scrollbar-thumb{background:#0c2340; border-radius: 10px;}
    .open::-webkit-scrollbar-track{background:#eee;}
    .m_menu_bar>li>a{color: white; display: block; height: 60px; line-height: 60px; font-size: 20px; border-bottom: 1px dotted #fff; padding: 0 20px;}
    .m_menu_bar>li{position: relative;}
    .menu_updown{position: absolute; width: 50%; height: 60px; right: 20px; top: 0px; cursor:pointer;}
    .m_menu_down{width: 30px; height: 30px; position: absolute; right: 0px; top: 14px; user-select: none;}
    .m_menu_up{position: absolute; width: 30px; height: 30px; top:14px; right: 0px; display: none;}
    .updown{display: block;}
    .downup{display: none;}
    .m_menu_inner{display: none;}
    .m_menu_inner>li>a{display: block; height: 50px; width: 100%; padding: 0 30px; font-size: 16px; color: white; line-height: 50px; border-bottom: 1px solid #888; background: #495e78;}
    .m_menu_inner>li>a:hover{background:#6c97cb;}
    /*여기까지 모바일 메뉴*/
    .index_title{text-align: start;}
    .business_wrap{padding-top: 50px;}
    .business{flex-wrap:wrap;}
    .business_ob{width: 100%; height:150px; margin-bottom: 6px; display: flex; align-items: center;}
    .business_ob:first-child{background:url(../img/index/768b1.jpg) no-repeat center center/ cover;}
    .business_ob:nth-child(2){background:url(../img/index/768b2.jpg) no-repeat center center/ cover;}
    .business_ob:nth-child(3){background:url(../img/index/768b3.jpg) no-repeat center center/ cover;}
    .business_ob:last-child{background:url(../img/index/768b4.jpg) no-repeat center center/ cover;}
    .business_ob>img{display: none;}
    .business_txt{top: 0px; text-align: center; font-size: 1.5rem; position:relative; text-shadow: 0 0 30px black;}
    .business_txt>h2{margin-bottom: 0;}
    .business_txt>h2:after{display:none;}
    .business_txt>p{display: none;}
    .project_wrap {padding: 0px 20px 20px 20px;}
    .lSAction > a{z-index:0;}
    .about_wrap{padding: 50px 20px 40px 20px;}
    .mana_wrap>.index_title{text-align: center;}
    .mana_icon{width: 200px; height: 200px;}
    .footer_up>ul{flex-wrap: wrap; padding:8px 20px 5px 20px;}
    .footer_up>ul>li:nth-child(2n-1){width: 25%; text-align: center; margin-bottom: 3px;}
    .footer_up>ul>li:nth-child(2n){display: none;}
    .footer_wrap{flex-direction:column-reverse;}
    .footer_channel{width: 30%; margin-bottom: 12px;}
    .footer_wrap>p{margin-bottom: 12px;}
    .footer_logo{width: 15%;}
    
}

/*480~767*/
@media only screen and (max-width:767px){
    .index_title{margin-bottom: 12px;}
    .lSAction > a{background-size: 200%; transform: translateY(-35%);}
    .lSAction > .lSPrev{background-position: -14px 0;}
    .lSAction > .lSNext{background-position: 74px 0;}
    .news_article{flex-direction: column;}
    .news_title{display: none;}
    .article_line {width: 100%;}
    .mana_wrap>.index_title>h2{min-width: 100%;}
    .mana_wrap>.index_title>p{padding: 0 20px;}
    .mana_wrap>.index_title>p>br{display: none;}
    .mana{flex-direction: column; align-items: center;}
    .mana_icon{width: 90%; border-radius: 0px; border: 1px solid #fff; height: 100px; margin-bottom: 12px; position: relative; display:flex; justify-content: center;}
    .mana_icon>span{padding-bottom: 0px; z-index: 2;}
    .overlay{display: block;}
    .footer_up>ul>li:nth-child(2n-1){width: 50%; text-align: start;}
    .footer_logo {width: 20%;}
    .footer_channel{width: 60%;}
}

/*360~479*/
@media only screen and (max-width:479px){
    .nav_logo {width: 100px;}
    .m_menu_bar{width: 100%; transition: 0s;}
    .main_txt>h1{font-size: 3rem;}
    .footer_channel{width: 80%;}
    .lSSlideOuter{display: none;}
    .mobile_project{display: block;}
    .mobile_project>li{margin-bottom: 12px;}
    .mobile_project p{text-align: center;}
}




















